[%- IF view.data._embedded %]
  [%- IF view.data._embedded.form %]
    [%- INCLUDE form.tt form = view.data._embedded.form %]
  [%- ELSIF view.data._embedded.errors %]
    [%- INCLUDE error.tt errors = view.data._embedded.errors %]
  [%- ELSIF view.data._embedded %]
    [%- INCLUDE table.tt data = view.data._embedded %]
  [%- ELSE %]
    [%- INCLUDE display.tt data = view.data %]
  [% END -%]
[% END -%]
